@import "_variables";
* {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

ul {
    display: grid; 
    justify-self: center;
    grid-template-columns: repeat(auto-fill, 400px);
    padding: 0;
    li {
        list-style: none;
        /* flex */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* link design */
        a {
            background-color: #eee;
            border-radius: 2px;
            padding: 1rem .5rem;
            font-size: 1.2rem;
            text-decoration: none;
            display: inline-block;
            color: #000;
            text-align: center;
            min-width: 70px;
            margin: .5rem 0;
            box-sizing: border-box;
          
            /* flexbox */
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            
            /* events */
            &:hover {
                background-color: #936f31;
                color: white;
                transition: 0.3s;
            }
        }
    }
}

h2 {
    text-align: center;
}
