h1 {
    text-align: center; 
}

.navigationBar {
    display: flex; 
    justify-content: center;
    nav {
        width: 50%; 
        display: flex; 
        justify-content: space-between;
        a {
            width: 50%; 
        }
    }
}


