/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
body {
  height: 94vh;
  margin: 0 4rem;
  padding: 0 2rem;
  app-root {
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
  }
}

h1 {
    color: #936f31;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #936f31;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    background-color: #eee;
    border-radius: 2px;
    padding: 1rem .5rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #000;
    text-align: center;
    min-width: 70px;
    margin: .5rem 0;
    box-sizing: border-box;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    
    /* events */
    &:hover {
        background-color: #936f31;
        color: white;
        transition: 0.3s;
    }
  }