<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of memberArray">{{member}}</li>
    </ul>
    <div class="add-members-container">
      <input 
        #inputMember
        (input)="onInputName(inputMember.value)"
        type="text" 
        placeholder="Name" 
        [value]="newMember"
      />
      <button (click)="addNewMember()">Add</button>
    </div>
    <div class="input-container">
      <input 
        #inputNumberOfTeams
        type="number" 
        placeholder="# of teams" 
        (input)="onEnterNumberOfTeams(inputNumberOfTeams.value)"
        [value]="numberOfTeams"
      />
      <button (click)="generateTeams()">Generate!</button>
    </div>
    <p class="error-msg" *ngIf="errorMsg">
      {{errorMsg}}
    </p>
  </div>
  <div class="teams-container" *ngIf="teams.length">
    <div class="team-container" *ngFor="let team of teams; let idx = index">
      <h3>Team {{idx + 1}}</h3>
      <ul>
        <li *ngFor="let member of team">{{member}}</li>
      </ul>
    </div>
  </div>
</div>
